#include <dt-bindings/zmk/matrix_transform.h>

/*
&xiao_spi {
	status = "okay";

	cs-gpios = <&xiao_d 7 GPIO_ACTIVE_LOW>, <&xiao_d 6 GPIO_ACTIVE_HIGH>;
	expander: mcp23sxx@0 {
		compatible = "microchip,mcp23sxx";
		status = "okay";
		gpio-controller;
		spi-max-frequency = <800000>;
		reg = <0>;
		label = "MCP23S08";
		#gpio-cells = <2>;
		ngpios = <8>;
	};

};
*/

&xiao_serial { status = "disabled"; };

/ {
	model = "smcboard";
	compatible = "smchunn,smcboard";

	chosen {
		zmk,kscan = &kscan;
		zmk,matrix_transform = &transform;
	};

	transform: transform {
		compatible = "zmk,matrix-transform";
		rows = <4>;
		columns = <2>;

		map = <
	RC(0,0) RC(0,1) 
	RC(1,0) RC(1,1) 
	RC(2,0) RC(2,1) 
	RC(3,0) RC(3,1)
	>;
	};
	
	kscan: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";

		debounce-press-ms = <1>;
		debounce-release-ms = <5>;

		diode-direction = "col2row";

		col-gpios
			= <&xiao_d 4   (GPIO_ACTIVE_HIGH)>
			, <&xiao_d 5   (GPIO_ACTIVE_HIGH)>
      ;

			// , <&expander 0 (GPIO_ACTIVE_HIGH)>
			// , <&expander 1 (GPIO_ACTIVE_HIGH)>
			// , <&expander 2 (GPIO_ACTIVE_HIGH)>
			// , <&expander 3 (GPIO_ACTIVE_HIGH)>
			// , <&expander 5 (GPIO_ACTIVE_HIGH)>
			// , <&expander 4 (GPIO_ACTIVE_HIGH)>
			// , <&expander 7 (GPIO_ACTIVE_HIGH)>
			// , <&expander 6 (GPIO_ACTIVE_HIGH)>
			
		row-gpios
			= <&xiao_d 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&xiao_d 1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
	};
};

